doctype html
html
  head
    title Suri Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
            div.logo
                img(src="static/img/img.png", alt="")
                | SDA
            li #[a(href='/') Home]
            li #[a(href='/') Services]
            li #[a(href='/') Pricing]
            li #[a(href='/') About]
            li #[a(href='/contact') Contact Us]
    block content
    footer
        | Copyright © 2023 suridanceacademy.com | All rights reserved