extends base.pug

block scripts 
    script(src="../static/index.js")

block style 
    style 
        include ../static/style.css

block content
    section#introSection
        div
            h1 Welcome to Suri's Dance Acadmey
        div 
            h3 Eat Dance Sleep Repeat
    section#missionSection
            h2 Our Mission   
            div.card
                h3 Dance with Perfection
                div.card-box
                    div.cardimg
                        img(src="static/img/img2.png", alt="")
                    div.cardcontent
                        p this is the best dance academy all around the world
            div.card
                h3 Dance like a pro
                div.card-box
                    div.cardimg
                        img(src="static/img/img3.png", alt="")
                    div.cardcontent
                        p this is the best dance academy all around the world
            div.card
                h3 Dance with your life
                div.card-box
                    div.cardimg
                        img(src="static/img/img4.png", alt="")
                    div.cardcontent
                        p this is the best dance academy all around the world
    section#sponsorSection
            h2 Our Sponsors
            div#sponsors
                img(src="static/img/img6.png", alt="")
                img(src="static/img/img7.png", alt="")
                img(src="static/img/img8.png", alt="")
                img(src="static/img/img9.png", alt="")